
body {
  background:  #f3ece1;;

  
}
.colorFon {
  color: aqua;
  font-size: 25px;
}
.bookFon{
  color: #dbaee0;
}

.container{
  display: flex;
  justify-content: center;
  background-color: #F8EDE3;
  color: #85586F;
}

.allbooks{
  display: flex;
  justify-content: center;
  background-color: #332b20;
}

h1{
  background-image: url("https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-repeat: repeat;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 85px;
  font-weight: 900;
}

h2{
  color: #dbaee0;
  font-size: 38px;
}

.par{
  color: #dbaee0;
  font-size: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.hello {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.color { 
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-image: url("https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-repeat: repeat;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 25px;
  font-weight: 900;
}

.txt {
  display: flex;
  justify-content: center;
  color: black;
  background: white;
}

nav {
  display: flex;
  background: #cfd8dc;
  justify-content: center;
  padding: 15px;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}


.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}

body {
  background-color: #f6f6f6;
}

.cont {
  display: flex;
  justify-content: center;
}

.back {
  background-color: #f4eddd; 
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.change {
  background-color: black;
  color: #dbaee0;
  padding: 10px;
  border: none;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

h3, h4 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  margin-left: 20px;

}

button {
  margin: 10px;
  letter-spacing: 2px;
}
p{
  color: #B71375;
  margin-left: 10px;
}
.h2color{
  color: #B71375;
  margin-left: 450px;
}

.conttt {
  display: flex;

  justify-content: center;
  background-color: #F8EDE3;
}

.nyc {

  letter-spacing: 2px;

  font-size: 30px;

  text-transform: uppercase;
  color: #6b159b;

}

.hotelN {

  font-size: 22px;

  letter-spacing: 2px;

  text-transform: uppercase;

  color: #6b159b;

}

.btn {

  

  display: inline-block;

  cursor: pointer;

  border: 1px solid transparent;

  letter-spacing: 2px;

  text-transform: uppercase;

  font-weight: 700;

  text-align: center;

  color: #fff;

  background-color: #804674;

  align-self: center;

  padding: 10px;

}

p {

  margin-left: 50px;

}

button {

  background: white;

  border: none;

  font-size: 18px;

  color: #0071c2

}

@media all and (max-width: 500) {
  h1 {
    font-size: 35px;
  font-weight: 400;
  }

  h2 {
    font-size: 15px;
  }

  .link {
    padding: 10px 25px;
  }
}
